body{
	font-family:'Reenie Beanie', cursive;
	background-image: url('../images/marble-background.jpg');

}
*{
	border: solid 1px;
}
.list-area>h1{
	text-align: center;
	font-weight:bold;
	font-size: 50px;
}
.list-area{
	background-image: url('../images/loose.jpg');
	background-size: contain;
	width:445px;
	height:930px;
	margin-left: auto;
	margin-right:auto;
	background-repeat:no-repeat;
	padding-left: 50px;

}
ul li{
	font-size: 25px;
	line-height: 55px;
	list-style-type: none;
}
.list-area span{
	padding-right: 15px;
	margin-left: -20px;
}
.box{
	margin-right: 30px;
	display: inline-block;
}
.vader-container{
	display: inline;
	margin-left: 10px;
	
}
.vader-container img{
	width: 20px;

}
form{
	display: block;
	text-align: center;
}

form >.quanity{
	width:35px;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	display: inline-block;
}
form .text{
	display:inline-block;
}
button{
	padding: 0 15px;
    border-radius: 0px;
}